
.navbar {
  width: 100%;
  background: linear-gradient(90deg, #005f73, #0a9396);
  color: white;
  padding: 15px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Segoe UI', sans-serif;
}


.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex: 1;
  transition: all 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
}

.nav-links li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
  margin: auto;
}

.nav-links li a:hover::after {
  width: 100%;
}


.login-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.login-icon svg {
  color: white;
  font-size: 1.8rem;
}

.login-icon:hover svg {
  color: #ffd700;
  transform: scale(1.1);
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.toggle span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.toggle span:nth-child(2) {
  opacity: 0;
}
.hamburger.toggle span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #0a9396;
    flex-direction: column;
    width: 200px;
    text-align: center;
    padding: 20px 0;
    gap: 15px;
    border-radius: 8px 0 0 8px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  .nav-links.open {
    opacity: 1;
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }

  .login-icon {
    position: absolute;
    top: 18px;
    right: 60px;
  }
}

.user-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.logout-btn {
  padding: 6px 12px;
  background: #0e0d0d;
  border: none;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #d62822;
}
